/*Paleta de colores
Rich black: #03071E
Chocolate cosmos: #370617
Rosewood: #6A040F
Penn red: #9D0208
Enginneering: #D00000
Sinopla: #DC2F02
Persimmon: #E85D04
Princeton orange: #F48C06
Orange (web): #FAA307
Selective yellow: #FFBA08
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*De esta manera incluyo el padding y el border en la altura-ancho total*/
}
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/resources/image/background.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    overflow: scroll
}

header{
    position: relative;
    width: 100%;
    height: 15%;
}

main {
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer{
    position: relative;
    width: 100%;
    height: 15%;
}