@import url("/assets/css/global.css");
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: fit-content;
  font-family: "Montserrat", sans-serif;
}

h1 {
  padding: 14px;
  background: #6a040f;
  color: #fff;
  margin: 15px 0px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 25px 25px;
}

/*formulario*/

form {
  margin-bottom: 15px;
}

form,
label,
input,
textarea {
  margin-left: 5px;
  display: block;
  color: #fff;
}

label {
  font-size: small;
}

input {
  padding: 5px;
  border-radius: 25px;
  background: #9d0208;
  width: 85%;
}
input::placeholder {
  color: #ffffff93;
}

textarea {
  padding: 5px;
  display: block;
  resize: none;
  border-radius: 15px;
  background: #9d0208;
  width: 85%;
}

.g-recaptcha {
  margin: 0px 5px;
  padding: 0;
  width: fit-content;
  transform: scale(1);
  transform-origin: 0 0;
}

#validarReCaptcha {
  margin: 5px;
  padding: 0;
  color: red;
}

.btnSendForm {
  margin: 15px;
  padding: 5px;
  border-radius: 13px;
  background: #6a040f;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  border: 2px solid #111;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnSendForm:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(0, 0);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.btnSendForm:hover:after {
  transform: translate(8px, 8px);
}

.btnSendForm:active {
  background-color: #991102;
  outline: 0;
}

.btnSendForm:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .btnSendForm {
    padding: 0 40px;
  }
}

/*Redes y contacto*/

div.contacto > h1 {
  margin-left: 8%;
}

.contain {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row-reverse;
}
.links {
  display: flex;
  flex-direction: column;
}

div.links a {
  margin: 5px 8px;
  box-sizing: border-box;
  border-radius: 50%;
  background: #fff;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0);
  color: var(--color);
  font-size: 2em;
}

div.links a:hover {
  background: var(--color);
  color: #050801;
  box-shadow: 0 0 5px var(--color), 0 0 25px var(--color), 0 0 50px var(--color),
    0 0 200px var(--color);
}

/* imagen */
.resto {
  display: flex;
  width: 400px;
  height: 300px;
  border-radius: 20%;
}

/*Media queries*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .form {
    width: 80%;
    margin-bottom: 2em;
  }
  .g-recaptcha {
    transform: scale(0.7);
  }
  .btnSendForm {
    margin-top: 0;
  }
  .contacto {
    width: 80%;
    margin-bottom: 2em;
  }
  div.contacto > h1 {
    margin: 0;
  }
  .contain {
    flex-direction: column;
  }
  .links {
    flex-direction: row;
  }
  .resto {
    height: 280px;
    width: 290px;
  }
}

/* Small devices (landscape phones, 576px - 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .form {
    width: 70%;
    margin-bottom: 2em;
  }
  .contacto {
    margin-bottom: 2em;
  }
}

/* Medium devices (tablets, 768px - 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .form {
    width: 40%;
    margin-bottom: 2em;
  }
  .contacto {
    width: 40%;
    margin-bottom: 2em;
  }
  .g-recaptcha {
    transform: scale(0.8);
  }
  .contain {
    flex-direction: column;
  }
  .links {
    flex-direction: row;
  }
  .resto {
    height: 280px;
    width: 100%;
  }
}

/* Large devices (desktops, more than 992px) */
@media (min-width: 992px) {
  .form {
    width: 40%;
    margin-bottom: 2em;
  }
  .contacto {
    width: 50%;
    margin-bottom: 2em;
  }
  .resto {
    height: 400px;
    width: 80%;
    max-width: 550px;
  }
}

/* Tall devices (desktops, more than 1050px)*/
@media (min-height: 1050px) {
  .main{
    height: 100%;
  }
}
