@import url("../global.css");
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

.main {
  /* background: #74020d; */
  display: flex;
  flex-direction: row;
  /* background-image: url('../resources/image/background.png'); */
}

h1 {
  /* background: #9d0207de; */
  /* color: #fff; */
  margin-bottom: 8px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 25px 25px 25px 25px;
}

form,
label,
input,
textarea{
  padding: 0;
  margin: 5px;
  /* color: #fff; */
}
textarea {
  display: block;
  resize: none;
  /* background: #9D0208; */
}

.links {
  display: flex;
}


.linksDiv {
  margin: 5px 5px;
  box-sizing: border-box;
  border-radius: 50%;
  background: #fff;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0);
  color: var(--color);
  font-size: 2em;
}

.linksDiv:hover {
  background: var(--color);
  color: #050801;
  box-shadow: 0 0 5px var(--color), 0 0 25px var(--color), 0 0 50px var(--color),
    0 0 200px var(--color);
}

.contain {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.resto {
  border-radius: 10%;
  width: 400px;
  height: 300px;
  display: flex;
}

.links {
  flex-direction: column;
}
